@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  position: relative;
  padding-bottom: 4em;
  margin: 1em;
}

#advice-id {
  color: hsl(150, 100%, 66%);
}

#advice-id {
  display: inline;
}

#advice {
  font-size: 28px;
  text-align: center;
}

.randomize-button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px hsl(150, 100%, 66%);
  transition: all 0.3s ease;
  position: absolute;
  bottom: -25px; /* La moitié de la hauteur du bouton */
  left: 50%;
  transform: translateX(-50%);
}

.randomize-button:hover {
  box-shadow: 0 0 20px hsl(150, 100%, 66%), 0 0 30px hsl(150, 100%, 66%),
    0 0 40px hsl(150, 100%, 66%);
}

.divider-mobile {
  display: block;
}
.divider-desktop {
  display: none;
}

@media (min-width: 1440px) {
  .container {
    width: 33vw;
    height: 33vh;
  }

  .divider-mobile {
    display: none;
  }
  .divider-desktop {
    display: block;
  }
}

@media (min-width: 415px) and (max-width: 1440px) {
  .container {
    width: 90vw;
    height: 60vh;
  }
}

@media (max-width: 415px) {
  .container {
    height: 50vh;
  }
}
